<?xml version="1.0"?>
<config>
  <modules>
    <Samrat_SSlider>
      <version>0.1.0</version>
    </Samrat_SSlider>
  </modules>
  <global>
    <helpers>
      <sslider>
        <class>Samrat_SSlider_Helper</class>
      </sslider>
    </helpers>
	<blocks>
	  <sslider>
		<class>Samrat_SSlider_Block</class>
	  </sslider>
	</blocks>
	<models>
	  <sslider>
		<class>Samrat_SSlider_Model</class>
		<resourceModel>sslider_mysql4</resourceModel>
	  </sslider>
	  <sslider_mysql4>
		<class>Samrat_SSlider_Model_Mysql4</class>
		<entities>		  
			  <sslider>
				<table>sslider</table>
			  </sslider>
        </entities>
	  </sslider_mysql4>
	</models>
	<resources>
	  <sslider_setup>
		<setup>
		  <module>Samrat_SSlider</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </sslider_setup>
	  <sslider_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </sslider_write>
	  <sslider_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </sslider_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <sslider>
	    <use>admin</use>
		<args>
		  <module>Samrat_SSlider</module>
		  <frontName>admin_sslider</frontName>
		</args>
	  </sslider>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <sslider module="sslider">
		<title>SSlider</title>
		<sort_order>100</sort_order>
		<children>
		  <sslider module="sslider">
		    <title>Manage Sslider</title>
			<sort_order>0</sort_order>
			<action>admin_sslider/adminhtml_sslider</action>
		  </sslider>
		</children>
	  </sslider>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<sslider translate="title" module="sslider">
			  <title>SSlider</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <sslider translate="title">
			<title>Manage Sslider</title>
			<sort_order>0</sort_order>
		  </sslider>
			  </children>
			</sslider>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<sslider>
		  <file>sslider.xml</file>
		</sslider>
	  </updates>
	</layout>
  </adminhtml>
</config> 