<?xml version="1.0"?>
<config>
    <modules>
        <Nik_Newsletterpopup>
            <version>0.3.0</version>
        </Nik_Newsletterpopup>
    </modules>
    <frontend>
        <secure_url>
            <newsletterpopup>/newsletterpopup/</newsletterpopup>
        </secure_url>
        <routers>
            <newsletterpopup>
                <use>standard</use>
                <args>
                    <module>Nik_Newsletterpopup</module>
                    <frontName>newsletterpopup</frontName>
                </args>
            </newsletterpopup>
            <newsletter>
                <args>
                    <modules>
                        <nik_newsletterpopup before="Mage_Newsletter">Nik_Newsletterpopup</nik_newsletterpopup>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <layout>
            <updates>
                <newsletterpopup>
                    <file>newsletterpopup.xml</file>
                </newsletterpopup>
            </updates>
        </layout>
        <translate>
            <modules>
                <Nik_Newsletterpopup>
                    <files>
                        <default>Nik_Newsletterpopup.csv</default>
                    </files>
                </Nik_Newsletterpopup>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <newsletterpopup>
                <use>admin</use>
                <args>
                    <module>Nik_Newsletterpopup</module>
                    <frontName>newsletterpopup</frontName>
                </args>
            </newsletterpopup>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <newsletterpopup>
                    <file>newsletterpopup.xml</file>
                </newsletterpopup>
            </updates>
        </layout>
        <translate>
            <modules>
                <Nik_Newsletterpopup>
                    <files>
                        <default>Nik_Newsletterpopup.csv</default>
                    </files>
                </Nik_Newsletterpopup>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <newsletterpopup>
                <class>Nik_Newsletterpopup_Model</class>
                <resourceModel>newsletterpopup_mysql4</resourceModel>
            </newsletterpopup>
            <newsletterpopup_mysql4>
                <class>Nik_Newsletterpopup_Model_Mysql4</class>
                <entities>
                    <newsletterpopup>
                        <table>newsletterpopup</table>
                    </newsletterpopup>
                </entities>
            </newsletterpopup_mysql4>
            <newsletter>
                <rewrite>
                    <subscriber>Nik_Newsletterpopup_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <resources>
            <newsletterpopup_setup>
                <setup>
                    <module>Nik_Newsletterpopup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newsletterpopup_setup>
            <newsletterpopup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newsletterpopup_write>
            <newsletterpopup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newsletterpopup_read>
        </resources>
        <blocks>
            <newsletterpopup>
                <class>Nik_Newsletterpopup_Block</class>
            </newsletterpopup>
        </blocks>
        <helpers>
            <newsletterpopup>
                <class>Nik_Newsletterpopup_Helper</class>
            </newsletterpopup>
        </helpers>
        <template>
            <email>
                <newsletterpopup_coupon_code_setting_email_template translate="label" module="newsletterpopup">
                    <label>Newsletter subscription successful with coupon code</label>
                    <file>newsletter_subscr_success_with_coupon.html</file>
                    <type>html</type>
                </newsletterpopup_coupon_code_setting_email_template>
            </email>
        </template>
        <rewrite>
            <nik_newsletterpopup_newsletter_subscriber>
                <from><![CDATA[#^/newsletter/subscriber/#]]></from>
                <to>/newsletterpopup/subscriber/</to>
            </nik_newsletterpopup_newsletter_subscriber>
        </rewrite>
    </global>
    <!--Set Default Value For Setting Options-->
    <default>
        <newsletterpopup>
            <general>
                <active>1</active>
                <hide_after_close>1</hide_after_close>
                <include_js>1</include_js>
                <form_title>Sign Up To Keep In Touch!</form_title>
                <timeout>1</timeout>
                <time_delay>2</time_delay>
                <notification>Subscribe for the best deals. Your Information will never be shared with any third
                    party.
                </notification>
            </general>
            <coupon_code_setting>
                <allow_create>0</allow_create>
                <email_sender>general</email_sender>
                <email_template>newsletterpopup_coupon_code_setting_email_template</email_template>
                <discount_type>percent-of-product-price</discount_type>
                <discount_amount>20</discount_amount>
                <coupon_length>8</coupon_length>
                <coupon_expires>15</coupon_expires>
                <number_coupon_use>1</number_coupon_use>
            </coupon_code_setting>
        </newsletterpopup>
    </default>
</config>
