<?xml version="1.0"?>
<config>
    <modules>
        <SSTech_Profileimage>
            <version>1.0.1</version>
        </SSTech_Profileimage>
    </modules>
    <default>
        <customer>
            <profileimage_widget>
                <enabled>0</enabled>
            </profileimage_widget>
        </customer>
    </default>
    <frontend>
        <routers>
            <profileimage>
                <use>standard</use>
                <args>
                    <module>SSTech_Profileimage</module>
                    <frontName>profileimage</frontName>
                </args>
            </profileimage>
        </routers>
        <events>
        <customer_save_before>
            <observers>
                <prepare_profileimage_upload>
                    <class>SSTech_Profileimage_Model_Observer</class>
                    <method>saveCustomerProfileimage</method>
                </prepare_profileimage_upload>
            </observers>
        </customer_save_before>
        </events>
        <layout>
            <updates>
                <profileimage>
                    <file>sstech/profileimage.xml</file>
                </profileimage>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <profileimage>
                <class>SSTech_Profileimage_Helper</class>
            </profileimage>
        </helpers>
        <blocks>
            <profileimage>
                <class>SSTech_Profileimage_Block</class>
            </profileimage>
        </blocks>
        <models>
            <profileimage>
                <class>SSTech_Profileimage_Model</class>
            </profileimage>
        </models>
        <resources>
            <profileimage_setup>
                <setup>
                    <module>SSTech_Profileimage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </profileimage_setup>
            <profileimage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profileimage_write>
            <profileimage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profileimage_read>
        </resources>
    </global>
</config>
