<?xml version="1.0"?>
<config>
  <modules>
    <Sarmat_SamratSlider>
      <version>0.1.0</version>
    </Sarmat_SamratSlider>
  </modules>
  <global>
    <helpers>
      <samratslider>
        <class>Sarmat_SamratSlider_Helper</class>
      </samratslider>
    </helpers>
	<blocks>
	  <samratslider>
		<class>Sarmat_SamratSlider_Block</class>
	  </samratslider>
	</blocks>
	<models>
	  <samratslider>
		<class>Sarmat_SamratSlider_Model</class>
		<resourceModel>samratslider_mysql4</resourceModel>
	  </samratslider>
	  <samratslider_mysql4>
		<class>Sarmat_SamratSlider_Model_Mysql4</class>
		<entities>		  
			  <samratslider>
				<table>samratslider</table>
			  </samratslider>
        </entities>
	  </samratslider_mysql4>
	</models>
	<resources>
	  <samratslider_setup>
		<setup>
		  <module>Sarmat_SamratSlider</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </samratslider_setup>
	  <samratslider_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </samratslider_write>
	  <samratslider_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </samratslider_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <samratslider>
	    <use>admin</use>
		<args>
		  <module>Sarmat_SamratSlider</module>
		  <frontName>admin_samratslider</frontName>
		</args>
	  </samratslider>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <samratslider module="samratslider">
		<title>SamratSlider</title>
		<sort_order>100</sort_order>
		<children>
		  <samratslider module="samratslider">
		    <title>Manage Samratslider</title>
			<sort_order>0</sort_order>
			<action>admin_samratslider/adminhtml_samratslider</action>
		  </samratslider>
		</children>
	  </samratslider>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<samratslider translate="title" module="samratslider">
			  <title>SamratSlider</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <samratslider translate="title">
			<title>Manage Samratslider</title>
			<sort_order>0</sort_order>
		  </samratslider>
			  </children>
			</samratslider>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<samratslider>
		  <file>samratslider.xml</file>
		</samratslider>
	  </updates>
	</layout>
  </adminhtml>
</config> 