<?xml version="1.0"?>
<config>
    <modules>
        <Gemzgallery_Gemz>
            <version>1.0.0</version>
        </Gemzgallery_Gemz>
    </modules>
    <frontend>
        <routers>
            <gemz>
                <use>standard</use>
                <args>
                    <module>Gemzgallery_Gemz</module>
                    <frontName>gemz</frontName>
                </args>
            </gemz>
            <marketplace>
                <args>
                    <modules>
                        <gemzgallery_gemz before="Cybage_Marketplace">Gemzgallery_Gemz</gemzgallery_gemz>
                    </modules>
                </args>
            </marketplace>
        </routers>
        <layout>
            <updates>
                <gemz>
                    <file>gemz.xml</file>
                </gemz>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <gemz_setup>
                <setup>
                    <module>Gemzgallery_Gemz</module>
                    <class>Mage_Eav_Model_Entity_Setup</class><!-- You can have a setup class which extends this class -->
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gemz_setup>
            <gemz_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gemz_write>
            <gemz_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gemz_read>
        </resources>
        <blocks>
            <gemz>
                <class>Gemzgallery_Gemz_Block</class>
            </gemz>
        </blocks>
        <helpers>
            <gemz>
                <class>Gemzgallery_Gemz_Helper</class>
            </gemz>
        </helpers>
        <rewrite>
            <gemzgallery_gemz_marketplace_product>
                <from><![CDATA[#^/marketplace/product/#]]></from>
                <to>/gemz/product/</to>
            </gemzgallery_gemz_marketplace_product>
            <list_attribute>
                <from><![CDATA[#^/all-products/#]]></from>
                <to><![CDATA[/gemz/list/attribute/]]></to>
            </list_attribute>
        </rewrite>
    </global>
</config>